<!DOCTYPE html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static',filename='foundation.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='app.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='d3-context-menu.css')}}" />
</head>
<body>
        <div id="EditNodeModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
          <h2 id="modalTitle">Edit Node</h2>
          <form id="EditNodeForm">
            <div class="row">
              <div class="large-12 columns">
                <label>Node name
                  <input type="text" class="inputName" id='EditNodeName' placeholder="node name" />
                </label>
              </div>
            <div class="row">
              <div class="large-12 columns">
                <label>Node type
                                <div class="row">
		          <input type="radio" class="taxtype" name="taxtype" value="none" checked> none
              </div>
              <div class="row">
		          <input type="radio" class="taxtype" name="taxtype" value="Genus"> Genus
                  <label>character
                    <input type="text" class="inputCharacter" id='EditNodeSymbol' placeholder="" />
                  </label>
              </div>
              <div class="row">
		          <input type="radio" class="taxtype" name="taxtype" value="Difference"> Difference
              </div>
              <div class="row">
		          <input type="radio" class="taxtype" name="taxtype" value="Species"> Species
              </div>
                </label>
              </div>
            </div>
        </div>
            <div class="row">
              <div class="large-8 columns">
                &nbsp;
              </div>
              <div class="large-4 columns">
                <a href="#" class="button info" onclick="close_rename_node_modal()">Cancel</a>
                <a href="#" class="button success" onclick="edit_node()">Edit</a>
              </div>
            </div>
          </form>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>

        <div id="CreateNodeModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
          <h2 id="modalTitle">Create Node</h2>
	  <ul class="tabs" data-tab>
	    <li class="tab-title active"><a href="#child">Tab 1</a></li>
	    <li class="tab-title"><a href="#children">Tab 2</a></li>
	  </ul>
<div class="tabs-content">
  <div class="content active" id="panel1">
          <form id="CreateNodeForm">
            <div class="row">
              <div class="large-12 columns">
                <label>Node name
                  <input type="text" class="inputName" id='CreateNodeName' placeholder="node name" />
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-8 columns">
                &nbsp;
              </div>
              <div class="large-4 columns">
                <a href="#" class="button info" onclick="close_create_node_modal()">Cancel</a>
                <a href="#" class="button success" onclick="create_nodes()">Create</a>
              </div>
            </div>
          </form>
  </div>
  <div class="content" id="panel2">
    <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
  </div>
</div>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>

        <div id="tree-container"></div>

        <script src="{{url_for('static',filename='d3.v3.min.js')}}"></script>
        <script src="{{url_for('static',filename='dndTree.js')}}"></script>
        <script src="{{url_for('static',filename='d3-context-menu.js')}}"></script>
        <script src="{{url_for('static',filename='underscore-min.js')}}"></script>
        <script src="{{url_for('static',filename='jquery.js')}}"></script>
        <script src="{{url_for('static',filename='fastclick.js')}}"></script>
        <script src="{{url_for('static',filename='foundation.min.js')}}"></script>
        <script src="{{url_for('static',filename='foundation.min.js')}}"></script>
        <script src="{{url_for('static',filename='wilkinssymbol.js')}}"></script>
        <script src="{{url_for('static',filename='wilkinspronounce.js')}}"></script>
        <script>
                // for the first initialization
                $('document').ready(function(){
                    $(document).foundation();
                    $(document).on('opened', '[data-reveal]', function () {
                        var element = $(".inputName:visible").first();
                        element.focus(function(){
                            this.selectionStart = this.selectionEnd = this.value.length;
                        });
                        element.focus();
                    });
                    $('#EditNodeForm').submit(function(e){
                            edit_node();
                            return false;
                    });
                    $('#CreateNodeForm').submit(function(e){
                            create_nodes();
                            return false;
                    });
                    var treeJSON = d3.json("{{url_for('static',filename='taxonomy.json')}}", draw_tree);
                });

                var data = ['exsanguinous-1', 'fish-4-2', 'birds-6-2', 'beasts-4-1', 'god-2', 'world', 'element', 'stone', 'metal', '','sdfa'];

                var svg = d3.select('body').append('svg')
                  .attr('width', 400)
                  .attr('height', 700);

                var symb = svg.selectAll('.symb')
                  .data(data)
                  .enter().append('path')
                  .attr('transform', function(d, i) {
                    return 'translate(' + (60 + (i % 2 * 200)) + ',' + 100 * Math.ceil((i + 1) / 2) + ')';
                  })
                  .attr('d', function(d) {
                    return WilkinsSymbol(d, 2000);
                  })
                  .attr('fill', 'transparent')
                  .attr('class', 'animatedsymb');
        </script>
</body>
</html>
